{% extends 'base/body.html' %}
{% load static %}

{% block header-scripts %}
<link href="{% static 'dist/css/tabulator.min.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'dist/js/tabulator.min.js' %}"></script>
{% endblock %}
{% block footer-scripts %}

{% endblock %}
{% block body %}
<div class="row">

    <aside class="sidebar pos-absolute z-2" data-role="sidebar" data-toggle="#sidebar-toggle-3" id="sb3"
        data-shift=".shifted-content" style="background-color: antiquewhite;">
        <div class="sidebar-header" data-image="images/sb-bg-1.jpg">
            <div class="avatar">
                <img data-role="gravatar" data-email="sergey@pimenov.com.ua">
            </div>
            <span class="title ">{{user.municipality}}</span>
            <span class="subtitle fg-white">{{user.full_name}}</span>
        </div>
        <ul class="sidebar-menu">
            <li><a href='/'><span class="mif-home icon"></span>गृहपृष्ठ</a></li>
            <li><a><span class="mif-books icon"></span>स्थानिय निकाय बारे</a></li>
            <li><a><span class="mif-files-empty icon"></span>क्वारेन्टाईन र आईसोलेसन सम्वन्धि विवरण</a></li>
            <li><a><span class="mif-files-empty icon"></span>COVID 19 टेस्ट सम्वन्धि विवरण</a></li>
            <li><a><span class="mif-files-empty icon"></span>स्थानियतहलाई आवश्यक पर्ने खाद्यवस्तु </a></li>
            <li><a><span class="mif-files-empty icon"></span>स्थानियतहमा उत्पादित तर बिक्रि हुन नसकी खेर गईरहेको वस्तुः</a></li>
            <li><a><span class="mif-files-empty icon"></span>तत्काल आवश्यक औषधि र मेडीकल उपकरण सम्वन्धि विवरण</a></li>
            <li><a><span class="mif-files-empty icon"></span>आर्थिक रुपमा आफै किनेर खाने क्षमता नभएका (Needy People) सम्वन्धि विवरण</a></li>
            
            
            <li class="divider"></li>
            <!-- <li><a><span class="mif-images icon"></span>Icons</a></li> -->
        </ul>
    </aside>

    <div class="shifted-content h-100 p-ab" style="background-color: rgba(192, 215, 247, 0.596)">
        <div class="app-bar pos-absolute bg-red z-1" data-role="appbar">
            <button class="app-bar-item c-pointer" id="sidebar-toggle-3">
                <span class="mif-menu fg-white"></span>
            </button>
        </div>

        <div class="h-100 p-4">


            <div class="row">
                <div class="cell-12">
                    <h3>विदेशवाट {{user.municipality}}मा आएकाहरुको विवरण</h3>
                </div>
                <div class="cell-3">
                    <button type="button" class="button">Save</button>
                </div>
                <div class="cell-3">
                    <button type="button" id="history-undo" class="button">
                        Undo
                    </button>
                </div>
                <div class="cell-3">
                    <button type="button" id="add-row" class="button primary">नयाँ थप्नुहोस् </button>
                </div>
                <div class="cell-3">
                    <button type="button" id="history-redo" class="button">
                        Redo
                    </button>
                </div>
                <div id="example-table" style="margin-top: 30px;margin-bottom: 20px; ;"></div>
            
            </div>

            
        </div>
    </div>
{% block table-script %}
    <script>
        // var tableData = [{ "id": 1, "traveller_name": "Anup Adhikari", "traveller_age": "1", "Arrival Date": "2020-04-02", "Foreign Country": "Nepal", "mode_of_transport_international": "Plane", "mode_of_transport_national": "Bus", "traveller": 1, "mun": "\u092e\u0939\u093e\u0928\u0917\u0930\u092a\u093e\u0932\u093f\u0915\u093e", "ward": 1, "district": "\u0915\u093e\u0938\u094d\u0915\u0940" }];
        var tableData=[];
        var table = new Tabulator("#example-table", {
            data: tableData, //set initial table data
            ajaxURL: "{% url 'snippets:travellers' %}",
            height: "500px",
            layout: "fitColumns",
            history: true,
            columns: [
                // 							
                { title: "नाम", field: "traveller_name", width: 200, editor: "input" },
                { title: "उमेर", field: "traveller_age", hozAlign: "right", editor: "input" },
                { title: "लिङ्ग", field: "Gender", editor: "input" },
                { title: "वडा", field: "ward", editor: "input" },
                { title: "बाहिर रहेको देश", field: "Foreign Country", editor: "input" },
                { title: "विदेशवाट नेपाल प्रवेश गर्दा प्रयोग गरेको यातायात साधन	काठमाडौँ वा नाकावाट स्थानिय तहमा आउदा प्रयोग गरेको यातायात साधन", field: "rating", hozAlign: "center", width: 100, variableHeight: true },
                // { title: "Favourite Color", field: "col" },
                { title: "नेपाल प्रवेश मिति", field: "Arrival Date", sorter: "date", hozAlign: "center" },
                { title: "अन्य विवरण", field: "remarks", hozAlign: "center", sorter: "boolean" },
                // { title: "Name", field: "name", width: 200 },
                // { title: "Progress", field: "progress", hozAlign: "right", sorter: "number" },
                // { title: "Gender", field: "gender", widthGrow: 2 },
                // { title: "Rating", field: "rating", hozAlign: "center" },
                // { title: "Favourite Color", field: "col", widthGrow: 3 },
                // { title: "Date Of Birth", field: "dob", hozAlign: "center", sorter: "date", widthGrow: 2 },
                // { title: "Driver", field: "car", hozAlign: "center" },
            ],
        });
        //undo button
        document.getElementById("history-undo").addEventListener("click", function () {
            table.undo();
        });

        //redo button
        document.getElementById("history-redo").addEventListener("click", function () {
            table.redo();
        });
        document.getElementById("add-row").addEventListener("click", function () {
                table.addRow({});
            });
        document.getElementById("del-row").addEventListener("click", function () {
                table.deleteRow(document.getElementById("active_component").value);
            });
    </script>
{% endblock %}
    {% endblock body %}