{% extends 'base/body.html' %}
{% load static %}

{% block header-scripts %}
<link href="{% static 'dist/css/tabulator.min.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'dist/js/tabulator.min.js' %}"></script>
{% endblock %}
{% block footer-scripts %}

{% endblock %}
{% block body %}
<div class="row">

    <aside class="sidebar pos-absolute z-2" data-role="sidebar" data-toggle="#sidebar-toggle-3" id="sb3"
        data-shift=".shifted-content" style="background-color: antiquewhite;">
        <div class="sidebar-header" data-image="images/sb-bg-1.jpg">
            <div class="avatar">
                <img data-role="gravatar" data-email="sergey@pimenov.com.ua">
            </div>
            <span class="title fg-white">Metro 4 Components Library</span>
            <span class="subtitle fg-white"> 2018 © Sergey Pimenov</span>
        </div>
        <ul class="sidebar-menu">
            <li><a><span class="mif-home icon"></span>गृहपृष्ठ</a></li>
            <li><a><span class="mif-books icon"></span>स्थानिय निकाय बारे</a></li>
            <li><a><span class="mif-files-empty icon"></span>क्वारेन्टाईन र आईसोलेसन सम्वन्धि विवरण</a></li>
            <li><a><span class="mif-files-empty icon"></span>COVID 19 टेस्ट सम्वन्धि विवरण</a></li>
            <li><a><span class="mif-files-empty icon"></span>स्थानियतहलाई आवश्यक पर्ने खाद्यवस्तु </a></li>
            <li><a><span class="mif-files-empty icon"></span>स्थानियतहमा उत्पादित तर बिक्रि हुन नसकी खेर गईरहेको वस्तुः</a></li>
            <li><a><span class="mif-files-empty icon"></span>तत्काल आवश्यक औषधि र मेडीकल उपकरण सम्वन्धि विवरण</a></li>
            <li><a><span class="mif-files-empty icon"></span>आर्थिक रुपमा आफै किनेर खाने क्षमता नभएका (Needy People) सम्वन्धि विवरण</a></li>
            
            
            <li class="divider"></li>
            <!-- <li><a><span class="mif-images icon"></span>Icons</a></li> -->
        </ul>
    </aside>

    <div class="shifted-content h-100 p-ab" style="background-color: rgba(192, 215, 247, 0.596)">
        <div class="app-bar pos-absolute bg-red z-1" data-role="appbar">
            <button class="app-bar-item c-pointer" id="sidebar-toggle-3">
                <span class="mif-menu fg-white"></span>
            </button>
        </div>

        <div class="h-100 p-4">


            <div class="row">
                <div class="cell-12">
                    <h3>विदेशवाट पोखरा महानगरपालिकामा आएकाहरुको विवरण</h3>
                </div>
                <div class="cell-3">
                    <button type="button" class="button">Save</button>
                </div>
                <div class="cell-3 offset-3">
                    <button type="button" id="history-undo" class="button">
                        Undo
                    </button>
                </div>
                <div class="cell-3">
                    <button type="button" id="history-redo" class="button">
                        Redo
                    </button>
                </div>
            </div>

            <div id="example-table" style="margin-top: 30px;margin-bottom: 20px; margin-right: 10px;"></div>
        </div>
    </div>

    <script>
        var tableData = [
            { id: 1, name: "Billy Bob", age: "12", gender: "male", height: 1, col: "red", dob: "", cheese: 1 },
            { id: 2, name: "Mary May", age: "1", gender: "female", height: 2, col: "blue", dob: "14/05/1982", cheese: true },
        ]

        var table = new Tabulator("#example-table", {
            data: tableData, //set initial table data
            height: "500px",
            layout: "fitColumns",
            history: true,
            columns: [
                // 							
                { title: "नाम", field: "name", width: 200, editor: "input" },
                { title: "उमेर", field: "progress", hozAlign: "right", editor: "input" },
                { title: "लिङ्ग", field: "gender", editor: "input" },
                { title: "वडा", field: "ward", editor: "ward" },
                { title: "बाहिर रहेको देश", field: "country", editor: "input" },
                { title: "विदेशवाट नेपाल प्रवेश गर्दा प्रयोग गरेको यातायात साधन	काठमाडौँ वा नाकावाट स्थानिय तहमा आउदा प्रयोग गरेको यातायात साधन", field: "rating", hozAlign: "center", width: 100, variableHeight: true },
                // { title: "Favourite Color", field: "col" },
                { title: "नेपाल प्रवेश मिति", field: "dob", sorter: "date", hozAlign: "center" },
                { title: "अन्य विवरण", field: "col", hozAlign: "center", sorter: "boolean" },
                // { title: "Name", field: "name", width: 200 },
                // { title: "Progress", field: "progress", hozAlign: "right", sorter: "number" },
                // { title: "Gender", field: "gender", widthGrow: 2 },
                // { title: "Rating", field: "rating", hozAlign: "center" },
                // { title: "Favourite Color", field: "col", widthGrow: 3 },
                // { title: "Date Of Birth", field: "dob", hozAlign: "center", sorter: "date", widthGrow: 2 },
                // { title: "Driver", field: "car", hozAlign: "center" },
            ],
        });
        //undo button
        document.getElementById("history-undo").addEventListener("click", function () {
            table.undo();
        });

        //redo button
        document.getElementById("history-redo").addEventListener("click", function () {
            table.redo();
        });
    </script>
    {% endblock body %}