{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %} खाद्यान्न आवश्यकता फारम {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cambay|Noto+Sans&display=swap" rel="stylesheet">
    {% block header-scripts %}{% endblock %}
</head>

<body>
    <div class="container-fluid">
        <div class="grid">
            <div class="row" style="background-color:#00cc66">
                <div class="cell-3 img-container" style="max-width: 15%; height:auto;"> <img
                        src={% static "Emblem_of_Nepal.svg" %} alt="Nepal Logo" /> </div>
                <div class="cell-9 text-center" style="font-family: Noto Sans;">
                    <h4>प्रदेश सरकार</h4>
                    <h3>उद्योग, पर्यटन, वन तथा वातावरण मन्त्रालय</h3>
                    <h5>गण्डकी प्रदेश, पोखरा, नेपाल</h5>
                </div>
            </div>
        </div>
        {% block body %}
        
        {% endblock %}
        {% block footer-scripts %}{% endblock %}
{% include 'base/footer.html' %}