{% extends 'jdata/body.html' %}
{% load static %}
{% block table-script %}

<div class="row container col-md-9">
    <div class="col-md-12">
        <h2>{{heading}} - {{submitter_object.full_name}}</h2>
    </div>
    <div class="row">
        <h3 style="color:red" class="col-md-3"> प्रश्न: </h3>
        <h3 class="col-md-9"><span id="column_distribute_header"></span></h3>
    </div>
    <div id="spreadsheet" class="col-md-12"></div>
    <div class="col-md-12 row">
        <div class="col-md-6">
            <button class="btn btn-primary float-left" onclick="table_distribute.insertRow()">नयाँ थप्नुहोस् ।</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary float-right" id="save_distribute">Save</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" id="errors">
    
        </div>
        <div class="col-md-6" id="success">
    
        </div>
    </div>

    <script>
        $("#save_distribute").click(function () {
            data = table_distribute.getData();
            unchanged_data = [];
            for (let i = 0; i < items_changed.length; i++) {
                // console.log(items_changed[i]);
                to_post = data[items_changed[i]];
                my_obj = {
                    "id": to_post[0],
                    "full_name": to_post[1],
                    "age": to_post[2],
                    "mobile": to_post[3],
                    "permanent_address": to_post[4],
                    "father_name": to_post[5],
                    "grandfather_name": to_post[6],
                    "remarks": to_post[7],
                    "package":to_post[8],
                    "submitter":{{submittor}},
                };
                if (my_obj.id == "") {
                    delete my_obj.id;
                };
                $.ajax({
                    url: "{% url 'lb:relief' id=submittor %}",
                    type: "POST",

                    data: JSON.stringify(
                        my_obj
                    ), contentType: "application/json",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (arg) {
                        // if (i == data.length - 1) {
                        //     location.reload();
                        // };
                        table_distribute.updateCell(0, i, arg['id'], true);
                        $("#success").append(
                            "<div class=\"alert alert-success alert-dismissible\"><a href=\"#\" class=\"close\" data-dismiss=\"alert\" aria-label=\"close\">&times;</a>" + "Saved Row :" + eval(i + 1) + "> " + arg["name"] + "</div>"
                        );

                    }, error: function (xhr, text, errors) {
                        unchanged_data.push(items_changed[i]);
                        $("#errors").append(
                            "<div class=\"alert alert-warning alert-dismissible\"><a href=\"#\" class=\"close\" data-dismiss=\"alert\" aria-label=\"close\">&times;</a>" + "Error Saving Row :" + eval(i + 1) + "> " + xhr.responseText + errors + "</div>"

                        );
                    },
                    async: false,
                }
                    // function(data,status){
                    //     alert("saved!");
                    //     console.log(data,status);
                    // }
                );
            };
            items_changed = unchanged_data;
        }

        );


        // window.onload = function(e){
        var x = 1;
        // var data = ;
        var items_changed = [];
        var loaded_distribute = function (instance) {
            // $('#log').append('New data is loaded');
            if (table_distribute.getData().length == 0) {
                table_distribute.setData([[, 'Sample: धान', "पाथी", "150.00"]]);
            }
            table_distribute.insertRow(5);
            var extra_columns ;
            table_distribute.orderBy(0);
            
            $.ajax({
                url: "{% url 'router:columnsize-column_user' table='distributor_lb' %}",
                type: "GET",
                contentType: "application/json",
                success: function (result) {
                    console.log(result);
                    col_widths = eval(result.column_size);
                    if (col_widths == null) {
                        col_widths = [];
                    }
                    
                    for (i = 0; i < col_widths.length; i = i + 1) {
                        x = 1;
                        table_distribute.setWidth(i, eval(col_widths[i]));
                    }
                    x = 2;
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            })
        
        };

        var changed = function (instance, cell, x, y, value) {
                var cellName = jexcel.getColumnNameFromId([x, y]);
                // $('#log').append('New change on cell ' + cellName + ' to: ' + value + '');
                // console.log('New change on cell ' + cellName + ' to: ' + value + '');
                // console.log(x, y);
                if (!items_changed.includes(parseInt(y))) {
                    if (parseInt(x) != 0) {
                        // Updating of row ids shouldn't be considered as change
                        items_changed.push(parseInt(y));
                        if ((items_changed.length >= 20) && (x != 0)) {
                            alert('Please save the data Urgently.');
                        }
                    }
                }


            };

        var selectionDistributeActive = function (instance, x1, y1, x2, y2, origin) {
            var cellName1 = jexcel.getColumnNameFromId([x1, y1]);
            var cellName2 = jexcel.getColumnNameFromId([x2, y2]);
            // console.log('The selection from ' + cellName1 + ' to ' + cellName2 + '');
            // console.log(table.getHeader(x1));
            document.getElementById("column_distribute_header").innerHTML = table_distribute.getHeader(x1)
        };

        function ask() {
            y = table_distribute.getSelectedRows(true);
            if (confirm("Delete ?")){
                for (i=0; i<y.length; i=i+1){
                    var values = table_distribute.getRowData(y[i]);
                    let status = true;
                    my_obj = {
                        "id": values[0],
                        "delete": true
                    }
                    // console.log(y[i]);
                    $.ajax({
                        url: '{% url 'lb:relief' id=submittor %}',
                        type: 'POST',
                        async: true,
                        data: JSON.stringify(
                            my_obj
                        ), contentType: "application/json",
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        },
                        success: function (result) {
                            $("#success").append(
                                "<div class=\"danger alert-success alert-dismissible\"><a href=\"#\" class=\"close\" data-dismiss=\"alert\" aria-label=\"close\">&times;</a>" + "Deleted Row :" + eval(i + y[0] + 1) + "> " + values[1] + "</div>"
                            );
                        },
                        error: function (xhr, text, errors) {

                            $("#errors_food").append(
                                "<div class=\"alert alert-warning alert-dismissible\"><a href=\"#\" class=\"close\" data-dismiss=\"alert\" aria-label=\"close\">&times;</a>" + "Error Deleting ID :" + eval(values[0]) + "> " + xhr.responseText + errors + "</div>"

                            );
                            status = false;
                        },
                    });
                    if (status == false) {
                        return false;
                    };
                }
            }

        }

        table_distribute = jexcel(document.getElementById('spreadsheet'), {

            url: "/router/myObjects/{{submittor}}/user/",

            columns: [
                //  type: hidden, dropdown, text, calendar, text
                // numeric,hidden, dropdown,autocomplete,checkbox,radio,calendar,image,color,html
                {
                    type: 'hidden',
                    title: 'सि.नं.',
                    name: 'id',
                    readOnly: true,
                    primaryKey: true,
                    mask: '#,##'

                },
                {
                    type: 'text',
                    title: 'राहत पाउनेको नाम',
                    width: '250',
                    name: 'full_name'
                    // primaryKey: true
                },
                {
                    type: 'numeric',
                    title: 'उमेर',
                    width: '150',
                    name: 'age',
                    mask: '###'
                    // primaryKey: true
                },
                {
                    type: 'numeric',
                    title: 'मोबाइल नं',
                    width: '150',
                    name: 'mobile',
                    mask: '###'
                    // primaryKey: true
                },
                {
                    type: 'text',
                    title: 'ठेगाना',
                    width: '250',
                    name: 'permanent_address',
                    // mask: '#,##', decimal: '.'

                },
                {
                    type: 'text',
                    title: 'बाबुको नाम',
                    width: '250',
                    name: 'father_name'
                    // primaryKey: true
                },
                {
                    type: 'hidden',
                    title: 'हजुरबुबाको नाम',
                    width: '250',
                    name: 'grandfather_name'
                    // primaryKey: true
                },
                {
                    type: 'text',
                    title: 'जम्मा परिवार संख्या',
                    width: '150',
                    name: 'remarks',
                    mask: '###'
                },
                {
                    type:'number',
                    title: 'जम्मा प्याकेज संख्या',
                    width: '120',
                    name: 'package',
                    mask: '###'
                },
                { type: 'hidden' },
                { type: 'hidden' },
                { type: 'hidden' },
                { type: 'hidden' },
                { type: 'hidden' },
                { type: 'hidden' },
                { type: 'hidden' },
                { type: 'hidden' },
                


            ],
            updateTable: function (instance, cell, col, row, val, label, cellName) {
            },
            onload: loaded_distribute,
            onchange: changed,
            onselection: selectionDistributeActive,
            allowDeleteColumn: false,
            allowInsertColumn: false,
            allowManualInsertRow: true,
            defaultColWidth: "70",
            onbeforedeleterow: ask,
            tableOverflow: true,
            tableWidth: "900px",
            onresizecolumn: save_row,



        });

        function save_row() {
            col_sizes = JSON.stringify({ 'column': table_distribute.getWidth(), 'file': 'distributor_lb' });
            if (x == 2) {
                $.ajax({
                    url: "{% url 'router:columnsize-column_user' %}",
                    type: "POST",
                    data: col_sizes,
                    contentType: "application/json",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    async: false,
                });
            }
        }
        var myTracker = jSuites.tracker(document.getElementById('spreadsheet'));
        // };
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
</div>

{% endblock %}

{% block header-scripts %}
<script src="{% static 'jsuites/dist/jsuites.js' %}"></script>
<script src="{% static 'jexcel/jexcel.js' %}"></script>
<link rel="stylesheet" href="{% static 'jsuites/dist/jsuites.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'jexcel/jexcel.css' %}" type="text/css" />
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<style>
    a {
        color: #222;
    }

    .active {
        color: blue;
    }
</style>
{% endblock %}