<h3 class="remark primary">विश्वभर महामारीको रुपमा फैलिएको कोरोना भाइरस (COVID-19) का घटनाहरुको नियमित सूचना संकलन र विश्लेषणलाई मध्यनजर गर्दै
कोरोना संक्रमणको असहज परिस्थितिमा दैनिक अत्यावश्यक उपभोग्य बस्तुको सहज आपूर्ति तथा गुणस्तरसम्बन्धी कार्यको अनुगमन तथा सुपरिवेक्षणलाई महत्त्व दिएर यस पोर्टल निर्माण गरिएको छ।</h3>
<p class="remark warning">यसमा उपभोक्ताहरुले आफ्नो परिवारलाई चाहिने आवश्यक खाद्यवस्तु तथा औषधीहरुको माग गर्न सक्नेछन् । साथै स्थानीय तहले User
बनाई उपलब्ध गराइएका फर्म मार्फत प्रदेशस्तरीय कोरोना भाइरससम्बन्धी विविध विवरण घटनागत आधारमा अद्यावद्यिक गर्न सक्नेछन्।
</p>
<p class="remark success">केही जानकारी तथा जिज्ञासाको लागि उद्योग, पर्यटन, वन तथा वातावरण मन्त्रालयका प्रवक्ता (नारायण आचार्यः ९८५१०४७१७३) र सूचना
अधिकारी (शिव परियारः ९८५७६२४१११) लाई सम्पर्क गर्न सक्नुहुनेछ।</p>