<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="register-form" action="{% url 'snippets:create_user' %}" method="POST">
            <input type="text" placeholder="First Name" name="first_name" />
            <input type="text" placeholder="Last Name" name="last_name" />
            <br/>
            <input type="text" placeholder="username" name="username" />
            <input type="password" placeholder="password" name="password" />
            <br/>
            <input type="text" placeholder="email address" name="email"/>
            <!-- <input type="text" placeholder="email address" name="email" /> -->
            <select id="district"><option value="-">Loading</option></select>
            <select id="municipality" name="municipality" >
                <option value="-" id="loading">पहिला जिल्ला रोज्नुहोस्</option>
            </select>
            <button type="Submit" name="submit" width="200" height="150">Create</button>
            <p class="message"> {{message}} <a href="#">Sign In</a></p>
        </form>
        <form class="login-form" method="POST" action="{% url 'users:login' %}">
            {{form}}
            {% csrf_token %}
            <button>Login</button>
            <p class="message">{{message}}<a href="#">Create an Account </a></p>
        </form>
    </div>
    
    <script src="{% static 'js/login.js' %}"></script>
    <script>
    
        load_muns = function municipality(id) {
                
                let dropdown = $('#municipality');
                dropdown.empty();
                dropdown.append('<option selected="true" disabled>आफ्नो कार्यालय रोज्नुहोस्</option>');
                dropdown.prop('selectedIndex', 0);
                url = '/router/district/'+String(id) +'/mun/';
                // Populate dropdown with list of provinces
                $.getJSON(url, function (data) {
                    // console.log(data);
                    $.each(data, function (key, entry) {
                        dropdown.append($('<option></option>').attr('value', entry.id).text(entry.mun_name));
                    })
                });
            }
        $('#district').empty().append(
            "<option selected=\"false\" disabled>जिल्ला रोज्नुहोस्</option>"
        ).prop('selectedIndex',0);
        $.getJSON('/router/district/', function(data){
            $.each(data,function(key,entry){
                $('#district').append(
                    $('<option></option>').attr('value',entry.id).text(entry.nep_name)
                )
            }
            )
        });
        $('#district').change(function(){
            load_muns($(this)[0].value);
        }
            
        );
    </script>
</div>
</body>
</html>
