{% extends 'jdata/body.html' %}
{% load static %}
{% block header-scripts %}
<script src="{% static 'jsuites/dist/jsuites.js' %}"></script>
<script src="{% static 'jexcel/jexcel.js' %}"></script>
<link rel="stylesheet" href="{% static 'jsuites/dist/jsuites.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'jexcel/jexcel.css' %}" type="text/css" />
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<style>
    a {
        color: #222;
    }

    .active {
        color: blue;
    }
</style>
{% endblock %}
{% block table-script %}
<div class="row">
    <div class="container col-sm-9">
        <h7 style="color:red;">प्रश्न : </h7>
        <h4<span id="column_header"></span></h4>
    </div>

</div>
{% csrf_token %}
<div id="spreadsheet" style="margin-top: 20px;"></div>
<script>
    var x = 1;
    // var data = ;
    var loaded = function (instance) {
        // $('#log').append('New data is loaded');
        if (table.getData().length == 0) {
            table.setData([[, "Sample: हरेराम शर्मा: यसलाई हटाउनुहोस् ।", 50, 2, 1, 2, "In full Isolation"]]);
        }
        x = 2;
    };
    var selectionActive = function (instance, x1, y1, x2, y2, origin) {
        var cellName1 = jexcel.getColumnNameFromId([x1, y1]);
        var cellName2 = jexcel.getColumnNameFromId([x2, y2]);
        // console.log('The selection from ' + cellName1 + ' to ' + cellName2 + '');
        // console.log(table.getHeader(x1));
        document.getElementById("column_header").innerHTML = table.getHeader(x1)
    };

    table = jexcel(document.getElementById('spreadsheet'), {
        
        url: "{{url}}",
        columns: [
            {
                type: 'hidden',
                title: 'सि.नं.',
                name: 'id',
                readOnly: true,
                primaryKey: true

            },
            {
                type: 'text',
                title: 'नाम',
                width: '250',
                name: 'name'
            },
            {
                type: 'numeric',
                title: 'उमेर',
                width: '50',
                name: 'age',
                mask: '#,##', decimal: '.',

            },
            {
                type: 'numeric',
                title: 'वार्ड',
                width: '50',
                name: 'ward',
                mask: '#,##', decimal: '.',

            },
            {
                type: 'dropdown',
                title: 'लिङ्ग',
                width: '70',
                name: 'gender',
                autocomplete: true,
                source: [{ "id": 1, "name": "पुरुष" }, { "id": 2, "name": "महिला" }, { "id": 3, "name": "अन्य" },],
                mask: '#,##', decimal: '.',

            },
            {
                type: 'dropdown',
                title: 'टेष्टको परिणाम',
                width: '100',
                name: 'is_positive',
                source: [{ "id": 'true', "name": 'Positive' }, { "id": 'false', "name": 'Negative' }]

            },
            {
                type: 'dropdown',
                title: 'क्वारेन्टाइन । आइसोलेसनको नाम',
                width: '250',
                name: 'quarantined_zone',
                url: '/router/quarantines/user/?format=json'

            },
            {
                type: 'text',
                name: 'remarks',
                width: '150',
                title: 'अन्य विवरण'
                // editor: 'number',
            },
            {
                type: 'hidden'
            },
            { type: 'hidden' },
            { type: 'hidden' },
            { type: 'hidden' },


        ],
        updateTable: function (instance, cell, col, row, val, label, cellName) {
        },
        onload: loaded,
        onselection: selectionActive,
        // persistance: "/router/travel/?format=json",
        // onchange: changed,
        allowDeleteColumn: false,
        allowInsertColumn: false,
        allowManualInsertRow: false,
        defaultColWidth: "70",
        // onbeforedeleterow: ask, 
        tableOverflow: true,
        tableWidth: "900px",
        pagination:10,
        search:true
    });

    var myTracker = jSuites.tracker(document.getElementById('spreadsheet'));
    // };
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

</script>



<!-- <select id='columnNumber'>
        <option value="0">Column 0</option>
        <option value="1">Column 1</option>
        <option value="2">Column 2</option>
    </select>

    <input type='button' value='Set header title'
        onclick="table.setHeader(document.getElementById('columnNumber').value)" />
    <input type='button' value='Get header title'
        onclick="table.getHeader(document.getElementById('columnNumber').value)" /> -->

{% endblock %}